


.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; 
    min-height: 100vh;
    padding: var(--spacing-md);
    background-color: var(--body-background);
    
}

.formContainer {
    background-color: var(--white);
    box-shadow: var(--box-shadow-md);
    border-radius: var(--border-radius-md);
    padding: var(--spacing-lg);
    width: 100%;
    max-width: 600px;
}

.formTitle {
    font-size: var(--font-size-h2);
    font-weight: 600;
    margin-bottom: var(--spacing-md);
    text-align: center;
    color: var(--text-color);
}

.button {
    font-weight: 600;
    padding: var(--spacing-sm) var(--spacing-md);
    border-radius: var(--border-radius-md);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    border: none;
}

.buttonPrimary {
    background-color: var(--primary-color);
    color: var(--white);
}

.buttonPrimary:hover {
    background-color: darken(var(--primary-color), 10%); 
}

.buttonGray {
    background-color: var(--light-gray);
    color: var(--dark-gray);
}

.buttonGray:hover {
    background-color: darken(var(--light-gray), 5%); 
}

.flex { display: flex; }
.justifyBetween { justify-content: space-between; }
.mt4 { margin-top: var(--spacing-lg); }

/* Responsive Adjustments - Using variables */
@media (max-width: 768px) {
    .formContainer { padding: var(--spacing-md); }
    .formTitle { font-size: var(--font-size-h3); }
    .button { padding: var(--spacing-sm) var(--spacing-md); font-size: 0.9rem;} 
}